.row-container {
  width: 375px;
  color: white;
}
h2 {
  padding-left: 12px;
}
.slider {
  position: relative;
}
.slider__arrow {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 20px 0;
  transition: 400ms all ease-in-out;
  width: 80px;
  background-clip: content-box;
  z-index: 100;
}
.slider__arrow-left {
  left: 0;
}
.slider__arrow-right {
  right: 0;
}
.slider:hover,
.arrow,
.arrow:hover,
.slider__arrow,
.slider__arrow:hover {
  transition: 400ms all ease-in-out;
}
.slider:hover,
.arrow,
.arrow:hover {
  visibility: visible;
}
.slider__arrow:hover {
  background: rgba(20, 20, 20, 0.5);
}
.arrow:hover {
  transform: scale(1.5);
}
.row__posters {
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  padding: 20px 0 20px 20px;
  scroll-behavior: smooth;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 200px;
}
.row__posterLarge {
  max-height: 320px;
}

.row__posterLarge:hover {
  transform: scale(1.1);
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .row-poster {
    max-height: 160px;
  }
  .row-posterLarge {
    max-height: 360px;
  }
}
@media screen and (max-width: 768px) {
  .row__poster {
    max-height: 100px;
  }
  .row__posterLarge {
    max-height: 280px;
  }
}
