.row {
  margin-bottom: 12px;
  padding-top: 12px;
  width: 100%;
  border-top: 1px solid #1d1d1d;
  color: #e5e5e5;
}

.row_title {
  margin-bottom: 8px;
  padding-left: 4px;
  line-height: 30px;
  font-size: 22px;
}

.row_swiper {
  padding-left: 4px;
  padding-bottom: 4px;
}

.swiper_slide {
  width: auto !important;
}

.row_poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.2s;
  flex-shrink: 0;
}

.row_poster:hover {
  transform: scale(1.05);
}

.row_poster-large {
  width: 160px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .row_title {
    font-size: 17px;
  }
}
