.category_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.netflix_logo_category {
  width: 138px;
  height: 37px;
  margin: 40px;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
  width: 375px;
  justify-content: center;
  text-align: center;
}

.profile img {
  width: 100px;
  height: 92px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.profile img:hover {
  transform: scale(1.1);
}

.profile p {
  margin-top: 8px;
  font-size: 1rem;
  color: white;
}

.profile_icon.blue {
  background-color: rgb(0, 98, 255);
}

.profile_icon.yellow {
  background-color: rgb(255, 204, 0);
}

.profile_icon.red {
  background-color: rgb(195, 33, 33);
}

.profile_icon.green {
  background-color: rgb(15, 108, 15);
}
