.movie_card {
  background-color: rgb(0, 0, 0);
}
.movie_image {
  width: 100%;
  max-height: 280px;
}
.movie_info {
  padding: 12px;
  text-align: left;
}

.movie_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-bottom: 8px;
}

.movie_button_remindme,
.movie_button_share {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
}

.remindme_icon_img,
.movie_icon_img {
  width: 18px;
}

.movie_button_remindme span,
.movie_button_share span {
  margin-top: 4px;
  font-size: 11px;
  color: #cacaca;
}

.release {
  color: rgba(255, 255, 255, 0.83);
  font-size: 13px;
}

.movie_title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 21px;
  color: #fff;
}

.movie_overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 10px;
  text-overflow: ellipsis;
  word-break: keep-all;
  line-height: 1.35;
  font-size: 14px;
  color: #cacaca;
}

.movie_genres {
  margin-top: 10px;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
}

.genre_item {
  margin-right: 4px;
}

.dot {
  margin: 0 6px;
  color: #ffffffb0;
  font-weight: bold;
}
