.navigation {
  position: relative;
  padding: 5px;
  margin: 5px;
  font-size: 21px;
  color: #fff;
}

.navigation span {
  font-size: 13px;
}

.navigation_menu {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  gap: 18px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 2;
}

.navigation_menu div {
  margin-bottom: 10px;
  font-size: 25px;
}
.navigation_menu a {
  color: #fff;
}
.navigation_menu a:hover {
  text-decoration: underline;
  color: white;
}
.navigation_menu div:hover {
  text-decoration: underline;
}

.btn_close {
  position: absolute;
  bottom: 40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-size: 19px;
  color: #fff;
  cursor: pointer;
}
