.intro_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 375px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 9999;
  cursor: pointer;
}

.netflix_logo img {
  width: 200px;
}
