.Header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 375px;
  background-color: black;
  z-index: 10;
  display: flex;
  align-items: center;
}
.Header > button {
  border: none;
  background-color: black;
  color: white;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.Header > button:focus {
  outline: none;
}
