.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  min-width: 375px;
  height: 65px;
  padding-left: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(20, 20, 20);
  color: white;
  z-index: 3;
}

.header a {
  font-size: 21px;
  color: #ececec;
}
.header_link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  .header {
    padding-left: 20px;
    justify-content: space-evenly;
  }
  .header a {
    font-size: 17px;
  }
}
