.search-container {
  position: relative;
  margin: 15px auto 0;
}
.search-form {
  position: relative;
  background-color: #424242;
}
.search-input-box {
  height: 52px;
  padding-right: 40px;
}
.search-input {
  box-sizing: border-box;
  width: 100%;
  padding: 17px 0 16px 10px;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  color: #c4c4c4;
}
.btn-submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: url(../../assets/icon-search.svg) no-repeat 0 0;
  border: 0;
}
.suggestions {
  position: absolute;
  width: 100%;
  background: white;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #eee;
}

.search-container h3 {
  margin: 20px 10px;
  font-size: 26.75px;
  color: #fff;
}

.search-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.thumbnail-container li {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  border-bottom: 2px solid #000;
  background-color: #424242;
}
.thumbnail-item {
  overflow: hidden;
  width: 35%;
  margin-right: 15px;
}
.thumbnail-item img {
  width: 100%;
  vertical-align: top;
}

.thumbnail-container .item-title {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1;
  margin-right: 60px;
  font-size: 0.9rem;
  color: #fff;
}

.thumbnail-container .item-title:after {
  content: '';
  position: absolute;
  right: -50px;
  top: 50%;
  margin-top: -14px;
  width: 28px;
  height: 28px;
  background: url(../../assets/icon-play.svg) no-repeat 0 0;
}
.loading,
.error {
  margin: 15px 0 15px 10px;
  font-size: 0.9rem;
  color: #fff;
}
