.search_container {
  position: relative;
  margin: 15px auto 0;
}
.search_form {
  position: relative;
  background-color: #242424;
}
.search_input_box {
  height: 52px;
  padding-right: 40px;
}
.search_input {
  box-sizing: border-box;
  width: 100%;
  padding: 17px 0 16px 10px;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  color: #c4c4c4;
}
.btn_submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: url(../../assets/icon-btn-search.svg) no-repeat 0 0;
  border: 0;
  filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(91%);
}
.suggestions {
  position: absolute;
  width: 100%;
  border-top: 1px solid #383838;
  background: #2a2929;
  color: #ececec;
  z-index: 10;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #22198a;
}

.search_container h3 {
  margin: 20px 10px;
  font-size: 22px;
  color: #ececec;
}
.thumbnail_container {
  margin-bottom: 12px;
  background-color: #2a2929;
}
.thumbnail_container li {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  height: 76px;
  border-top: 1px solid #191919;
}
.thumbnail_item {
  overflow: hidden;
  display: block;
  width: 146px;
  margin-right: 15px;
}
.thumbnail_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thumbnail_container .item_title {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1;
  margin-right: 60px;
  font-size: 14px;
  color: #ececec;
}

.thumbnail_container .item_title:after {
  content: '';
  position: absolute;
  right: -50px;
  top: 50%;
  margin-top: -14px;
  width: 28px;
  height: 28px;
  background: url(../../assets/icon-play.svg) no-repeat 0 0;
}
.loading,
.error {
  margin: 15px 0 15px 10px;
  font-size: 0.9rem;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .search_container h3 {
    margin: 20px 10px 10px;
    font-size: 17px;
  }
  .thumbnail_container li {
    height: 60px;
  }
}
