.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65px;
  justify-content: space-around;
  background-color: rgb(20, 20, 20);
  z-index: 2;
}

.footer > a {
  margin: 5px;
  padding: 5px;
  align-content: center;
  text-align: center;
  background-color: rgb(20, 20, 20);
  font-size: 11px;
  color: #8c8787;
}
.footer > a.active,
.footer > a.active img {
  filter: invert(0%);
  color: white;
}

.footer > a em {
  display: block;
  margin-top: 2px;
}
.footer_icon {
  width: 24px;
  filter: invert(70%);
}
