.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Footer > a {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 8px;
  align-content: center;
  text-align: center;
}

.footer-icon {
  width: 24px;
}
