.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 375px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  width: 375px;
  height: 481px;
  background-color: #000000;
  color: white;
  position: relative;
  animation: fadeInUp 0.3s ease-in-out;
  overflow: hidden;
  font-family: Arial, sans-serif;
  transform: translate(0, 0);
}

.modal-poster {
  width: 375px;
  height: 195px;
  margin-top: 56px;
  object-fit: cover;
  display: block;
}

.modal-detail {
  height: 170px;
  padding-top: 20px;
}

.modal-buttons {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  padding: 0 12px;
}

.icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
}

.icon-image {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-bottom: 7px;
}

.icon-button p {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 11.13px;
}

.modal-body {
  height: 117px;
  margin-top: 13px;
  padding: 0 12px;
  text-align: left;
}

.modal-subtitle {
  font-size: 11.4px;
  line-height: 9px;
  color: rgba(255, 255, 255, 0.83);
  margin-bottom: 4px;
}

.modal-title {
  font-size: 18.66px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  margin-bottom: 4px;
}

.modal-description {
  font-size: 11.4px;
  color: rgba(255, 255, 255, 0.83);
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-tags {
  font-size: 11.4px;
  font-weight: 600;
  color: #ffffff;
  line-height: 9px;
}
