.Footer {
  background-color: black;
  height: 65px;
  width: 375px;
  display: flex;
  justify-content: space-around;
}

.Footer > button {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
}

.footer-icon {
  width: 24px;
}
