.genre_page {
  padding: 20px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid_item {
  position: relative;
}
.grid_item img {
  width: 100%;
  height: auto;
}
